<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALIYUN_API_KEY</key>
	<string>REDACTED-ALIYUN-KEY</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>FitGenius 需要访问您的麦克风以实现语音转文字功能</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>FitGenius 需要使用语音识别服务以实现语音转文字功能</string>
</dict>
</plist>
