<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.swordingk.fitgenius</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fitgenius</string>
			</array>
		</dict>
	</array>
	<key>ExerciseGIFBaseURL</key>
	<string>https://fitgenius-d0ghm1rz21cef6594-1441969311.tcloudbaseapp.com/exercise-gifs</string>
	<key>FitGeniusBackendURL</key>
	<string>https://fitgenius-d0ghm1rz21cef6594-1441969311.tcloudbaseapp.com</string>
	<key>NSCameraUsageDescription</key>
	<string>FitGenius需要使用相机来拍摄您的餐食照片，以便进行饮食记录和分析。</string>
	<key>NSHealthShareUsageDescription</key>
	<string>FitGenius读取已授权的训练数据，以保持训练记录一致。</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>FitGenius将完成的力量训练保存到苹果健康。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>FitGenius需要访问相册来选择餐食照片。</string>
</dict>
</plist>
