# macOS
.DS_Store

# Xcode user data
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# SwiftPM
.build/

# Derived data
DerivedData/

# Trae workspace
.trae/