<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>用于保存处理后的饮食照片</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>用于选择饮食照片进行识别与记录</string>
	<key>NSCameraUsageDescription</key>
	<string>用于拍摄饮食/训练照片与视频</string>
</dict>
</plist>
